*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#body{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.picbox{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}
.profilepic{
    width: 100%;
    height: 100%;
}
.list{
    cursor: pointer;
}
.profilepicroom{
    width: 40px;
    height: 40px;
}
.signup_frm,.login_frm{
    width: 350px;
    height: auto;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    margin: 30px auto 0;
    padding: 10px;
}
/* input{
    width: 100%;
    height: 50px;
    border: none;
    outline: auto;
    border: 10px solid rgb(245, 236, 236);
    margin-bottom: 10px;
} */

#createroom,#myroom,.bgchange,.list-group-item,#demo,.list-group,.list-group-item,#userprofile,#calling,#addcustomuser,#listcustomuser,#searchresult,#customcalling,#insertsearchuser,#joinusers,#setting{
    /* backdrop-filter: blur(20px); */
    background-color: rgb(0,0,0,0);
}
.form-control,.customuserlist{
    background-color: rgba(0,0,0,0);
}
#desktopfilebtn{
    width: 100%;
    height: 30px;
    padding: 20px;
    border: none;
    background-color: rgb(0,0,0,0);
}

 .videobox{
    width: 100%;
    height: 535px;
    overflow: scroll;
    scrollbar-width: 0px;
    scrollbar-width: none;
    scrollbar-color: red;
    position: relative;
 }
 #svideo{
    width: 170px;
    height: 150px;
    position: absolute;
    top: -10px;
    right: 0.3%;
    z-index: 10000000000000000000000000000;
 }
 
.btn-grad {background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}



.btn-grad-b {background-image: linear-gradient(to right, #0099F7 0%, #F11712  51%, #0099F7  100%)}
.btn-grad-b {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.btn-grad-c {background-image: linear-gradient(to right, #000428 0%, #004e92  51%, #000428  100%)}
.btn-grad-c {
   margin: 10px;
   padding: 15px 45px;
   border: 1px solid red;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         
                  
         
 /* 1 user */
/* .grid-1 {
  grid-template-columns: 1fr;
}

2 se teen user

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

3 se 4 user

.grid-4 {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
} */

 .rvideobox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  width: 80%;
  height: 100%;
}

.rivideo{
  background: #222;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#roombtn{
    position: absolute;
    top: 50%;
    right: 3.7%;
}

#room-close{
    position: absolute;
    top: 100%;
    right: 10px;
}
.profilebox{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0px 5px 5100px black;
}
.profileimg{
    width: 100%;
    height: 100%;
}
#toast{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000000000000000000000;
}
#callingtoast{
    /* position: absolute;
    top: 0;
    left: 0; */
    z-index: 100000000000000000000000;
}
.navbox{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: -20px;
}
.responsiv{
    /* width: 150px; */
    height: auto;
    /* padding: 20px;
    position: fixed;
    top: 22px;
    left: -20px; */
}

.mobile-responsive{
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


@media (max-width:768px) {
    .customrvideobox{
        width: 300px;
        height: 500px;
        margin-top: 160px;
        margin-right: -20px;
    }
    #customrvideo{
        width: 100%;
    }
    .mobile-responsive{
        display: block;
    }
    #laptop-responsive{
        display: none;
    }
    .signup_frm,.login_frm{
        margin: 50px auto 0;
    }
    #ibody
    {
        background-color: rgb(70, 66, 66);
        color: white;
    }
    #setfronteimg{
      display: none;
    }
}
.callingtoast{
    position: absolute;
    top: 0;
    left: 0;
}
.customvidebox{
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    background-image: linear-gradient(to left,black,rgb(61, 36, 36));
}
.customrvideobox{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    right: 30px;
    z-index: 10000000000000000000000000000000000;
}
.customsvideobox{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
/* #customsvideobox{
    width: 100%;
    height: 400px;
} */