*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
      min-height: 100vh;
      background: radial-gradient(circle at top, #eaf1ff, #f5f7fb);
      font-family: 'Segoe UI', sans-serif;
    }

.picbox{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}
.profilepic{
    width: 100%;
    height: 100%;
}
.list{
    cursor: pointer;
}
.profilepicroom{
    width: 40px;
    height: 40px;
}
.signup_frm,.login_frm{
    width: 350px;
    height: auto;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    margin: 30px auto 0;
    padding: 10px;
}

#createroom,#myroom,.bgchange,.list-group-item,#demo,.list-group,.list-group-item,#userprofile,#calling,#addcustomuser,#listcustomuser,#searchresult,#customcalling,#insertsearchuser,#joinusers,#setting{
    /* backdrop-filter: blur(20px); */
    background-color: rgb(0,0,0,0);
}
.form-control,.customuserlist{
    background-color: rgba(0,0,0,0);
}
#desktopfilebtn{
    width: 100%;
    height: 30px;
    padding: 20px;
    border: none;
    background-color: rgb(0,0,0,0);
}

 .videobox{
    width: 100%;
    height: 535px;
    overflow: scroll;
    scrollbar-width: 0px;
    scrollbar-width: none;
    scrollbar-color: red;
    position: relative;
 }
 #svideo{
    width: 170px;
    height: 150px;
    position: absolute;
    top: -10px;
    right: 0.3%;
    z-index: 10000000000000000000000000000;
 }
 
 .rvideobox{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
  width: 80%;
  height: 100%;
}

.rivideo{
  background: #222;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#roombtn{
    position: absolute;
    top: 50%;
    right: 3.7%;
}
.profilebox{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 0px 5px 5100px black;
}
.profileimg{
    width: 100%;
    height: 100%;
}
#toast{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100000000000000000000000;
}
#callingtoast{
    /* position: absolute;
    top: 0;
    left: 0; */
    z-index: 100000000000000000000000;
}
.navbox{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: -20px;
}

@media (max-width:768px) {
    .customrvideobox{
        width: 300px;
        height: 500px;
        margin-top: 160px;
        margin-right: -20px;
    }
    #customrvideo{
        width: 100%;
    }
    .mobile-responsive{
        display: block;
    }
    #laptop-responsive{
        display: none;
    }
    .signup_frm,.login_frm{
        margin: 50px auto 0;
    }
    #ibody
    {
        background-color: rgb(70, 66, 66);
        color: white;
    }
    #setfronteimg{
      display: none;
    }
}
.callingtoast{
    position: absolute;
    top: 0;
    left: 0;
}
.customvidebox{
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    background-image: linear-gradient(to left,black,rgb(61, 36, 36));
}
.customrvideobox{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 5px;
    right: 30px;
    z-index: 10000000000000000000000000000000000;
}
.customsvideobox{
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}
